# macOS
.DS_Store

# Windows
Thumbs.db

# Jekyll (based on _config.yml present in the directory)
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
vendor/

# Node (if used later)
node_modules/
npm-debug.log
yarn-error.log

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
